@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.contactpage{
    font-family: 'Roboto';
    background-image: url(../../images/page-bg.jpg);
    width: 100vw;
    height: 950px;
    text-align: center;
}

.line{
    width: 400px;
    height: 2px;
    margin: auto;
    background-color: black;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.txtinput{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 400px;
    height: 50px;
    font-size: 30px;
    color: #468148;
    border: 0;
    border-bottom: 2px solid #468148;
    background-image: url(../../images/page-bg.jpg);
}
#message{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 400px;
    height: 200px;
    font-size: 20px;
    color: #468148;
    border: 0;
    border: 2px solid #468148;
    background-image: url(../../images/page-bg.jpg);
    padding-left: 5px;
}
#message::placeholder{
    text-decoration: underline;
}
#submit{
    width: 100px;
    height: 50px;
    color: white;
    background-color: #66AC68;
    border: 2px solid #468148;
    font-size: 30px;
    margin-left: 310px;
}
#submit:hover{
    background-color: #468148;
}
::placeholder{
    color: #468148;
}


@media (max-width: 480px){
    h1{
        font-size: 8vw;
    }
    .line{
        width: 70vw;
    }
    
    .txtinput{
        margin-bottom: 2vw;
        margin-top: 2vw;
        width: 80vw;
        height: 15vw;
        font-size: 7vw;
    }
    #message{
        margin-bottom: 5vw;
        margin-top: 5vw;
        width: 80vw;
        height: 50vw;
        font-size: 6vw;
    }
    #submit{
        width: 30vw;
        height: 20vw;
        font-size: 8vw;
        margin-left: 52vw;
    }
    
}