@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.mission{
    font-family: 'Roboto';
    background-image: url(../../images/page-bg.jpg);
    width: 100vw;
    text-align: center;
}

.line{
    width: 400px;
    height: 2px;
    margin: auto;
    background-color: black;
}

.first-section{
    width: 60vw;
    margin: auto;
}

.mission h1{
    font-size: 60px;
    margin-bottom: 10px;
}

.mission h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
}

.mission p{
    font-size: 25px;
}

.image1{
    margin: auto;
    background-image: url(../../images/monkey.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.second-section{
    display: flex;
    width: 70vw;
    margin: auto;
}

.second-section p{
    margin-top: 0;
    flex: 1.5;
    text-align: left;
}

.image2{
    background-image: url(../../images/lion.jpg);
    flex: 1;
    height: 600px;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
}

@media (max-width: 900px){
    .mission h1{
        font-size: 8vw;
    }

    .line{
        width: 70vw;
    }
    
    .mission h2{
        font-size: 5vw;
    }

    .first-section p{
        font-size: 3.2vw;
    }

    .second-section{
      width: 95vw;
    }

    .second-section p{
        font-size: 3.2vw;
    }

    .image2{
        height: 100vw;
    }
}