@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.team{
    font-family: 'Roboto';
    background-image: url(../../images/page-bg.jpg);
    width: 100vw;
    height: 950px;
    text-align: center;
}

h1{
    font-size: 50px;
}

.line{
    width: 400px;
    height: 2px;
    margin: auto;
    background-color: black;
}

.employees{
    display: flex;
    color: black;
    width: 90%;
    border: 2px solid red;
    margin: 50px auto 0 auto;
    justify-content: center;
}


@media (max-width: 480px){
    h1{
        font-size: 8vw;
    }
    .line{
        width: 70vw;
    }
    
    .txtinput{
        margin-bottom: 2vw;
        margin-top: 2vw;
        width: 80vw;
        height: 15vw;
        font-size: 7vw;
    }
    #message{
        margin-bottom: 5vw;
        margin-top: 5vw;
        width: 80vw;
        height: 50vw;
        font-size: 6vw;
    }
    #submit{
        width: 30vw;
        height: 20vw;
        font-size: 8vw;
        margin-left: 52vw;
    }
    
}