@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main-nav{
    position: relative;
    z-index: 888;
    width: 100vw;
    height: 70px;
    background-color: #284113;
    background-image: url(../../images/nav-bg.jpg);
    font-family: 'Roboto';
    font-size: 30px;
    display: flex;
    align-items: center;
}



.nav-link{
    padding-left: 20px;
    transition: 0.2s;
    color: white;
}
.nav-link:hover{
    font-size: 35px;
    transition: 0.2s;
}

.nav-link img{
    width: 100px;
    transition: 0.2s;
}
.nav-link img:hover{
    width: 110px;
}

@media (max-width: 585px){
    .main-nav{
        font-size: 5vw;
        height: 20vw;
    }
    .nav-link{
        padding-left: 3vw;
    }
    .nav-link img{
        width: 15vw;
    }
  
  }